<!-- -->
<ion-header no-border>
  <ion-toolbar >
      <ion-buttons slot="start">
          <ion-button>
            <ion-icon slot="icon-only" name="pin" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title color="white" ali="center" class="addresslb">
          <strong>
        {{currentAddress}}
      </strong>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click) = "btnMap_click()">
              <ion-icon slot="icon-only" name="map" color="white"></ion-icon>
            </ion-button>
          </ion-buttons>
  </ion-toolbar>
  <ion-item>
    <ion-input color="dark" placeholder="Tìm kiếm triệu chứng"  [(ngModel)]="symptom"></ion-input>
    <ion-buttons slot="end">
    <ion-button (click)="searchDoctors()">
      <ion-icon slot="icon-only" name="search" color="dark"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-item>
</ion-header>

<ion-content color="light">
  <ion-row align-items-center>
    <ion-col col-4 >
      <ion-button expand="full" class="paoday" (click)="chang1($event)"> 
        Sáng
      </ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button expand="full" class="paoday" (click)="chang1($event)">
        Trưa
      </ion-button>
    </ion-col>
    <ion-col col-4>
      <ion-button expand="full" class="paoday" (click)="chang1($event)">
        Chiều
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-list *ngFor="let result of searchResult">
  <ion-card>
    <ion-item class="info">
      <ion-thumbnail slot="start">
        <img src="{{result.avatarImg}}">
      </ion-thumbnail>
      <ion-label>
        <strong>{{result.doctorName}}</strong>
        <p>{{result.department}}</p>
        <div>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="btnDoctor_click()" >
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-card-content>
      Cách bạn {{result.distance}} km
    </ion-card-content>
  </ion-card>
</ion-list>
  <!-- <ion-card>
    <ion-item class="info">
      <ion-thumbnail slot="start">
        <img src="https://dwbxi9io9o7ce.cloudfront.net/images/06_10_2017_12_19_35_253731.jpeg">
      </ion-thumbnail>
      <ion-label>
        <strong>Nguyễn Thị Tài Linh</strong>
        <p>Nội cơ xương khớp</p>
        <div>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-card-content>
      Cách bạn 2km
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item class="info"> 
      <ion-thumbnail slot="start">
        <img src="https://dwbxi9io9o7ce.cloudfront.net/images/18_05_2016_07_42_38_508966.jpeg">
      </ion-thumbnail>
      <ion-label>
        <strong>Đỗ Hữu Thảnh</strong>
        <p>Nội cơ xương khớp</p>
        <div>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-card-content>
      Cách bạn 4km
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item class="info">
      <ion-thumbnail slot="start">
        <img src="https://dwbxi9io9o7ce.cloudfront.net/images/31_05_2016_10_14_46_788084.jpeg">
      </ion-thumbnail>
      <ion-label>
        <strong>Nguyễn Thị Minh Tuyết</strong>
        <p>Sản phụ khoa</p>
        <div>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-card-content>
      ĐCách bạn 0.34 km
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item class="info">
      <ion-thumbnail slot="start">
        <img src="https://dwbxi9io9o7ce.cloudfront.net/images/2015-11-19_170611.4449560000.jpeg">
      </ion-thumbnail>
      <ion-label>
        <strong>Nguyễn Thanh Liêm</strong>
        <p>Tai mũi họng</p>
        <div>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-card-content>
      Cách bạn 4.5 km
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item class="info">
      <ion-thumbnail slot="start">
        <img src="https://dwbxi9io9o7ce.cloudfront.net/images/2015-12-25_040418.7956620000.jpeg">
      </ion-thumbnail>
      <ion-label>
        <strong>Nguyễn Thị Hoàn</strong>
        <p>Da liễu</p>
        <div>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-card-content>
      Cách bạn 8 km
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item class="info">
      <ion-thumbnail slot="start">
        <img src="https://dwbxi9io9o7ce.cloudfront.net/images/2015-12-16_080153.7228210000.jpeg">
      </ion-thumbnail>
      <ion-label>
        <strong>Lê Thị Phương Lan</strong>
        <p>Đa khoa</p>
        <div>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-card-content>
      Cách bạn 4.7 km
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item class="info">
      <ion-thumbnail slot="start">
        <img src="https://dwbxi9io9o7ce.cloudfront.net/images/2015-11-19_171244.9375390000.jpeg">
      </ion-thumbnail>
      <ion-label>
        <strong>Nguyễn Đắc Nghĩa</strong>
        <p>Ngoại Cơ Xương Khớp, Ngoại Thần kinh, Chấn thương chỉnh hình - Cột sống</p>
        <div>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-card-content>
      Cách bạn 10.5 km
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item class="info">
      <ion-thumbnail slot="start">
        <img src="https://dwbxi9io9o7ce.cloudfront.net/images/2016-02-19_042841.6445800000.jpeg">
      </ion-thumbnail>
      <ion-label>
        <strong>Võ Đăng Hùng</strong>
        <p>Khoa Ung bướu</p>
        <div>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-card-content>
      Cách bạn 2.9 km
    </ion-card-content>
  </ion-card> -->
</ion-content>
