ion-content{
    background: url('../../../assets/img/homebg.jpg') no-repeat ;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size:contain;
  }
  .trans{
    background : transparent;
  }
  